 <!-- Conecta con las dependencias de Bootstrap .js -->
 <script src="/jquery.min.js"></script>
 <script src="/popper.min.js"></script>
 <script src="/bootstrap.min.js"></script>


 <!-- Conecta con D3 -->
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <!-- Conecta con Angular.js -->
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
 <!-- Conecta con app.js -->
 <script src="/main.js"></script>
</body>
</html>